.mactive{
    color:red;
    
}
.tabbar{
    position:fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    background: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
} 
.tabbar ul{
    display: flex;
}
.tabbar ul  li{
    flex: 1;
    list-style: none;
}